.footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
  }
  
  #instagram{
      color: #EC7699;
      font-size: 3em;
      text-align: right;
  }
  #facebook{
      font-size: 3em;
      text-align: center;
      color: #1E90FF;
  }
  #pinterest{
      font-size: 3em;
      text-align: center;
      color: red;
  }